[Unit]
Description=Autodeb Worker
After=network.target

[Service]
User=autodeb
Group=autodeb
WorkingDirectory=/var/lib/autodeb/worker
EnvironmentFile=/etc/default/autodeb-worker
EnvironmentFile=/etc/autodeb-worker.conf
ExecStart=/usr/bin/autodeb-worker \
                        -working-directory=${WORKING_DIRECTORY} \
                        -server-url=${SERVER_URL} \
                        -runner-count=${RUNNER_COUNT} \
                        ${AUTODEB_WORKER_OPTS}
Restart=on-failure
