[Unit]
Description=Autodeb Server
After=network.target

[Service]
User=autodeb-server
Group=autodeb-server
WorkingDirectory=/var/lib/autodeb-server
EnvironmentFile=/etc/default/autodeb-server
ExecStart=/usr/bin/autodeb-server -config=${CONFIG}
Restart=on-failure

[Install]
WantedBy=multi-user.target
