[Unit]
Description=Autodeb Worker
After=network.target

[Service]
User=autodeb-worker
Group=autodeb-worker
WorkingDirectory=/var/lib/autodeb-worker
EnvironmentFile=/etc/default/autodeb-worker
ExecStart=/usr/bin/autodeb-worker -config=${CONFIG}
Restart=on-failure

[Install]
WantedBy=multi-user.target
